/TEST-homePage.BasicTest.xml
/TEST-homePage.HomeAllInclusive.xml
/TEST-homePage.HomeCarsTab.xml
/TEST-homePage.HomeCruises.xml
/TEST-homePage.HomeFlightsTab.xml
/TEST-homePage.HomeStaysTab.xml
/TEST-homePage.HomeThingsToDo.xml
/TEST-homePage.HomeVacationTab.xml
